{% extends 'layout.html' %}

{% block body %}
    <h2>Registration to {{ event_label }} Party</h2>
    <form method="POST" action="" id="registrationForm">
        <div id="alert" class="alert" role="alert" style="display: none;"></div>
        <div class="form-group">
            <label for="name" class="form-control-label">Name</label>
            <input type="text" id="name" name="name" class="form-control form-control-lg" required="required"/>
            <div id="name-error" class="invalid-feedback" style="display: none;"></div>
        </div>
        <div class="form-group">
            <label for="email" class="form-control-label">Email</label>
            <input type="email" id="email" name="email" class="form-control form-control-lg" required="required"/>
            <div id="email-error" class="invalid-feedback" style="display: none;"></div>
        </div>
        <div class="form-group">
            <!-- CSRF token and pre-filled event value are hidden from the user -->
            <input type="hidden" name="event" value="{{ event }}"/>
            <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </form>
{% endblock %}